.hero {
  @include brekpoint-up(large) {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background: #000;
      top: 0;
      left: 50%;
      width: 130%;
      height: 100%;
      background: url("/images/bg-intro-desktop.svg");
      background-position: -10% 60%;
      background-repeat: no-repeat;
    }
  }
  background: $veryLightGray;
  .container {
    @include brekpoint-up(large) {
      position: relative;
      display: flex;
      height: 41rem;
      align-items: center;
    }
  }

  &--img-section {
    position: relative;
    order: 2;
    flex: 3;
    min-height: 300px;
    background-image: url("/images/bg-intro-mobile.svg");
    background-size: cover;
    @include brekpoint-up(medium) {
      min-height: 400px;
    }

    @include brekpoint-up(large) {
      min-height: 100%;
    }
    &::before {
      content: "";
      position: absolute;
      background: #000;
      width: 100%;
      height: 100%;
      background: url("/images/image-mockups.png");
      background-position: center bottom;
      background-size: cover;
      background-position: -20% 89%;
      @include brekpoint-up(medium) {
        background-position: 90%;
      }
      @include brekpoint-up(large) {
        background-image: none;
      }
    }

    @include brekpoint-up(large) {
      background-image: none;
      &::after {
        content: "";
        position: absolute;
        background: #000;
        width: 110%;
        height: 120%;
        right: -41%;
        background: url("/images/image-mockups.png");
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  &--text {
    text-align: center;
    @include brekpoint-up(large) {
      flex: 2;
      order: 0;
      text-align: left;
    }
    h1 {
      color: $darkBlue;
      line-height: 1.15;
      font-size: 2.31rem;
      margin-bottom: 1.5rem;
      @include brekpoint-up(large) {
        font-size: 3.25rem;
      }
    }
    p {
      line-height: 1.5;
      margin-bottom: 2.5rem;
    }
  }
}
